body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  .main-container {
    .content-container {
      .homepage-content {
        .homepage-content-title {
          font-size: 70px;
          line-height: 1;
        }

        .homepage-content-text {
          font-size: 20px;
          line-height: 1.4;
        }
      }
    }
  }
}

@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1500px!important;
  }
}


